h1{
    background-color: #FFD1D1;
    text-align: center;
    font-size: 39px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: capitalize;
    position: static;
    left: 33%;
    right: 33%;
}

html{
    background-color: #FFE3E1;
}


.poza1 img{
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 200px;
    border-radius: 10%;
    border-style: solid;
    border-color: #FFD1D1;
    border-width: 80px;
    display: block;
    margin-left: 185px;
  
    }



.poza2 img{
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border-style: solid;
    border-color:#FFD1D1;
    border-width: 80px;
    display: block;
    margin-top: 200px;
    margin-left: 20px;
  
}

.poza3 img{
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 10%;
    border-style: solid;
    border-color:#FFD1D1;
    border-width: 80px;
    display: block;
    margin-top: 200px;
    margin-left: 20px;
}

.buton1{
    border-style: double;
    text-align: center;
    
}

.textpoza1{

    font-size: 20px;
    position: absolute;
    top: 660px;
    left: 300px;
    color: #000000;
    text-align: center;
}

.textpoza2{
    font-size: 17px;
    position: absolute;
    top: 660px;
    left: 650px;
    color: #000000;
    text-align: center;
}

.textpoza3{
    font-size: 20px;
    position: absolute;
    top: 660px;
    left: 1100px;
    color: #000000;
}

.text1{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    border-style: ridge;
    border-color: #000000;
    border-radius: 3%;
    border-width: 3px;
    margin-top: 100px;
}












